<!DOCTYPE html>
<html lang="en">
<head>
<title>고객정보등록</title>
<% include ../_helpers/html_header %>
</head>
<body>
	<!-- audio player 
    <audio id="audio" src="/audio/ending.mp3"></audio>  -->
	<div class="container">  
		<h2>실명확인번호 입력/검증</h2>
		<hr> </br></br>
		<p/>	
		<form id="form1" method="POST" action="/rmnno">
			<div class="form-group">
				<label for="rmnno">고객실명번호:</label> 
				<input type="text" class="form-control" id="rmnno" name="rmnno" maxlength="14">
			</div>
		</form>
		<hr>
		<P align=center>
			<button class="btn btn-success" id="btn2">정정</button>
			&nbsp;
            <button class="btn btn-success" id="btn1">등록</button>
        </P>
	</div>

<script>
$( function() {
	//enter 처리
	$("#rmnno").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#btn1").click();
		}
	});
	
	//
	$("#btn1").off().on( "click", () => {
		if($("#rmnno").val().length == 0){
			textToSpeech('실명번호를 입력하세요.');	
			alert("실명번호를 입력하세요.");
			$("#rmnno").focus();
			return;
		}
//		alert("버튼1");
		//document.forms[0].Action = "/rmnno";
//		textToSpeech('고객정보 등록을 시작합니다.');	
		$("#form1").attr("action", "/rmnno");
		document.forms[0].submit();
	});	

	$("#btn2").off().on( "click", () => {
		if($("#rmnno").val().length == 0){
			textToSpeech('실명번호를 입력하세요.');	
			alert("실명번호를 입력하세요.");
			$("#rmnno").focus();
			return;
		}
 
//		alert("버튼2");
		//document.forms[0].Action = "/rmnno2";
//		textToSpeech('고객정보 수정을 시작합니다.');	
		$("#form1").attr("action", "/rmnno2");
		document.forms[0].submit();
	});	
});
</script>

<!--
<script>
		function doVoiceCommand(string) {
			
			var cmd = string.replace(/ /gi, '');
			const audio = $("#audio")[0];
			
			if (cmd.endsWith('정정')) {	
				textToSpeech('정정 합니다.');				
				$("#btn2").click();
			} else if(cmd.endsWith('등록')) {
				textToSpeech('등록 합니다.');				
				$("#btn1").click();
			} else if(cmd.endsWith('안녕하세요')) {
				textToSpeech('고객님 반갑습니다. 환영합니다.');
				//location.href = "/rmnno";				
			} else if (cmd.endsWith('노래켜') || cmd.endsWith('노래시작') || cmd.endsWith('음악켜') || cmd.endsWith('음악시작')) {
				var playPromise = audio.play();
				
				if (playPromise !== undefined) {
					playPromise.then(_ => {
						//audio.pause();
						audio.play();
					})
					.catch(error => {
						var msg = '먼저 페이지에서 아무거나 누르고 실행해 주세요.';
						$("#voice").val("").val(msg);
					});
				}		
			} else if (cmd.endsWith('노래꺼') || cmd.endsWith('노래중지') || cmd.endsWith('음악꺼') || cmd.endsWith('음악중지')) {
				audio.pause();
			} else if (cmd.endsWith('볼륨올려') || cmd.endsWith('볼륨업')) {
				try { audio.volume += 0.1; } catch(e) {}
			} else if (cmd.endsWith('볼륨내려') || cmd.endsWith('볼륨다운')) {
				try { audio.volume -= 0.1; } catch(e) {}
			} else {
					
			}
		}
		</script> -->

</body>
</html>
