<!DOCTYPE html>
<html lang="en">
<head>
<title>오류</title>
<% include ./_helpers/html_header %>
</head>
<body>
	<!-- audio player 
	<audio id="audio" src="/audio/ending.mp3"></audio> -->
	<div class="container">
		<h2><%= message %> (<%= code %>)</h2> </br></br>
		<p/>	
		<hr>
		<P align=center>
            <button class="btn btn-success" id="btn1">돌아가기</button>
        </P>
	</div>

<script>
$( function() {	

	textToSpeech(body.message);
//	$(document).ready(function() { 
//		textToSpeech("<%= message %>");
//	});

	$("#btn1").off().on( "click", () => {
        location.href="<%= returnurl %>";
	});	
});
</script>
</body>
</html>
