<!DOCTYPE html>
<html lang="en">
<head>
<title>고객정보등록</title>
<% include ../_helpers/html_header %>
<style>
.form-group label {
    width: 30%;
}
</style>
</head>
<body>
	<!-- audio player -->
    <audio id="audio" src="/audio/ending.mp3"></audio>
	<div class="container">
		<h2>기본정보입력</h2> 
		<p/>	
		<form method="POST" action="/cust_info_post">
			<div class="form-group">
                <hr>
                <img alt="step2" src="/image/step2.PNG" style="width:100%;">
                <hr>
   
                <label for="rmnno">고객실명번호:</label> 
                <input type="text" class="form-control" id="rmnno" name="rmnno" value="<%= rmnno %>"> <br><br>

                <label for="clnt_nm">고객명:</label>
                <input type="text" class="form-control" id="clnt_nm" name="clnt_nm" value="<%= data.clnt_nm %>"><br>

                <label for="ntlt_nm">국적명:</label> 
				<input type="text" class="form-control" id="ntlt_nm" name="ntlt_nm" value="<%= data.ntlt_nm %>"><br>

                <label for="frgr_yn">외국인여부:</label> 
                <input type="radio" name="frgr_yn" value="1" /> 예 &nbsp
                <input type="radio" name="frgr_yn" value="0" /> 아니요<br>

                <label for="rsdn_yn">거주여부:</label> 
                <input type="radio" name="rsdn_yn" value="1" /> 예 &nbsp
                <input type="radio" name="rsdn_yn" value="0" /> 아니요<br>

                <label for="addr">주소:</label> 
				<input type="text" class="form-control" id="addr" name="addr" value="<%= data.addr %>"><br>

                <label for="email">이메일:</label> 
				<input type="text" class="form-control" id="email" name="email" value="<%= data.email %>"><br>

                <label for="tel_no">전화번호:</label> 
				<input type="text" class="form-control" id="tel_no" name="tel_no" value="<%= data.tel_no %>"><br>
            </div>      
		</form>
		<hr>
		<P align=center>
            <button class="btn btn-success" id="btn1">확인</button>
			&nbsp;
			<button class="btn btn-success" id="btn3">종료</button>
        </P>
	</div>

<script>
$( function() {
   	//확인여부 값 셋팅
    $('input:radio[name="frgr_yn"]:input[value="<%= data.frgr_yn %>"]').attr("checked", true)
	$('input:radio[name="rsdn_yn"]:input[value="<%= data.rsdn_yn %>"]').attr("checked", true)

	//enter 처리
	$("#clnt_nm").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#ntlt_nm").focus();
		}
	});
	$("#ntlt_nm").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#frgr_yn").focus();
		}
	});
	$("#frgr_yn").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#rsdn_yn").focus();
		}
	});
	$("#rsdn_yn").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#addr").focus();
		}
	});
	$("#addr").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#email").focus();
		}
	});
	$("#email").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#tel_no").focus();
		}
	});
	$("#tel_no").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#btn1").focus();
		}
	});
	
	//Login
	$("#btn1").off().on( "click", () => {
        document.forms[0].Action = "/cust_info_post";
		document.forms[0].submit();
	});	
	$("#btn3").off().on( "click", () => {
		location.href="/rmnno";
	});

});
</script>
</body>
</html>
