<!DOCTYPE html>
<html lang="en">
<head>
<title>고객정보등록</title>
<% include ../_helpers/html_header %>
</head>
<body>
	<!-- audio player -->
    <audio id="audio" src="/audio/ending.mp3"></audio>
	<div class="container">
		<h2>개인정보 수집/이용 동의</h2> 
		<p/>	
		<form method="POST" Action="/prs_agr_post">
			<div class="form-group">
				<hr>
				<img alt="step1" src="/image/step1.PNG" style="width:100%;">
				<hr>

				<label for="rmnno">고객실명번호:</label> 
				<input type="text" class="form-control" id="rmnno" name="rmnno" value="<%= rmnno %>" readonly> <br><br>

				<label for="prg_arg">개인(신용)정보 수집/이용:</label> 
				<input type="radio" name="a" value="0" /> 동의안함 &nbsp
				<input type="radio" name="a" value="1" /> 동의 &nbsp
				<input type="radio" name="a" value=" " /> 미확인
								
				<label for="prg_arg">고유식별정보의 처리:</label> 
				<input type="radio" name="b" value="0" /> 동의안함 &nbsp
				<input type="radio" name="b" value="1" /> 동의 &nbsp
				<input type="radio" name="b" value=" " /> 미확인
	
				<label for="prg_arg">대리인 정보 수집/이용:</label> 
				<input type="radio" name="c" value="0" /> 동의안함 &nbsp
				<input type="radio" name="c" value="1" /> 동의 &nbsp
				<input type="radio" name="c" value=" " /> 미확인
						
				<label for="prg_arg">개인(신용)정보 마케팅 수집/이용:</label> 
				<input type="radio" name="d" value="0" /> 동의안함 &nbsp
				<input type="radio" name="d" value="1" /> 동의 &nbsp
				<input type="radio" name="d" value=" " /> 미확인
							
				<label for="prg_arg">신용거래상품 수집/이용:</label> 
				<input type="radio" name="e" value="0" /> 동의안함 &nbsp
				<input type="radio" name="e" value="1" /> 동의 &nbsp
				<input type="radio" name="e" value=" " /> 미확인
							
				<label for="prg_arg">비과세 종합저축 상품 수집/이용:</label> 
				<input type="radio" name="f" value="0" /> 동의안함 &nbsp
				<input type="radio" name="f" value="1" /> 동의 &nbsp
				<input type="radio" name="f" value=" " /> 미확인
						
				<label for="prg_arg">개인연금상품 수집/이용:</label> 
				<input type="radio" name="g" value="0" /> 동의안함 &nbsp
				<input type="radio" name="g" value="1" /> 동의 &nbsp
				<input type="radio" name="g" value=" " /> 미확인
																
				<label for="prg_arg">민감정보처리 수집/이용:</label> 
				<input type="radio" name="h" value="0" /> 동의안함 &nbsp
				<input type="radio" name="h" value="1" /> 동의 &nbsp
				<input type="radio" name="h" value=" " /> 미확인

			</div>
		</form>
		<hr>
		<P align=center>
			<button class="btn btn-success" id="btn2">모두 '동의'</button>
			&nbsp;
			<button class="btn btn-success" id="btn1">확인</button>
			&nbsp;
			<button class="btn btn-success" id="btn3">종료</button>
		</P>
	</div>

<script>
$( function() {
	//동의여부 값 셋팅
	$('input:radio[name="a"]:input[value="<%= data.a %>"]').attr("checked", true);
	$('input:radio[name="b"]:input[value="<%= data.b %>"]').attr("checked", true);
	$('input:radio[name="c"]:input[value="<%= data.c %>"]').attr("checked", true);
	$('input:radio[name="d"]:input[value="<%= data.d %>"]').attr("checked", true);
	$('input:radio[name="e"]:input[value="<%= data.e %>"]').attr("checked", true);
	$('input:radio[name="f"]:input[value="<%= data.f %>"]').attr("checked", true);
	$('input:radio[name="g"]:input[value="<%= data.g %>"]').attr("checked", true);
	$('input:radio[name="h"]:input[value="<%= data.h %>"]').attr("checked", true);

//	$('input:radio[value="0"]').attr("checked", true)
	
//	$("#rmnno").val("<%= rmnno %>");

	//버튼처리
	$("#btn1").off().on( "click", () => {
//		document.forms[0].Action = "/prs_agr_post";
//		alert("document.forms[0].Action="+document.forms[0].Action);

		let lists = $('input:radio:input[value=" "]');
		let isUndefined = false;
		for(var i=0; i < lists.length;i++) {
			if(lists[i].checked) { 
				isUndefined = true;
				break;
			}
		}
		if(isUndefined) {
			alert("동의여부를 선택하세요.");
			return;
		}

		document.forms[0].submit();
	});

	$("#btn2").off().on( "click", () => {	
		let tmp = $("#btn2").text();
		// $(':radio[name="a"]:checked').val();
	
		let lists = null;
		if( tmp != "모두 '동의'" ){
			$("#btn2").text("모두 '동의'");
//			alert("동의");
			lists= $('input:radio[value="0"]');
			for(var i=0; i < lists.length; i++) {
				lists[i].checked = true;
			}			
		}else{
			$("#btn2").text("모두 '동의안함'");
//			alert("+++++++++++");
			//$('input:radio').attr("checked", false)
			//$('input:radio[value="1"]').attr("checked", true)
			lists= $('input:radio[value="1"]');
			for(var i=0; i < lists.length; i++) {
				lists[i].checked = true;
			}	
		};
	});

	$("#btn3").off().on( "click", () => {
		location.href="/rmnno";
	});


});
</script>
</body>
</html>
