<!DOCTYPE html>
<html lang="en">
<head>
<title>고객정보등록</title>
<% include ../_helpers/html_header %>
</head>
<body>
	<!-- audio player -->
    <audio id="audio" src="/audio/ending.mp3"></audio>
	<div class="container">
		<h2>금융거래 사전정보</h2> 
		<p/>	
		<form method="POST" Action="/trd_info">
			<div class="form-group">
                <hr>
				<img alt="step4" src="/image/step4.PNG" style="width:100%;">
                <hr>

                <label for="rmnno">고객실명번호:</label> 
                <input type="text" class="form-control" id="rmnno" name="rmnno" value="<%= rmnno %>" readonly> <br><br>
    
                <label for="prg_arg">국내에 주소 및 연락처(전화번호)가 있습니까?:</label> 
				<align=right>
					<input type="radio" name="a" value="1" /> 예 &nbsp
					<input type="radio" name="a" value="0" /> 아니요

                <label for="prg_arg">여권(여행자증명서) 외 신분을 확인할 수 있는 서류가 있습니까?:</label> 
                <align=right>
                    <input type="radio" name="b" value="1" /> 예 &nbsp
                    <input type="radio" name="b" value="0" /> 아니요

                <label for="prg_arg">국내에 직업이 있습니까?:</label> 
                <align=right>
                    <input type="radio" name="c" value="1" /> 예 &nbsp
                    <input type="radio" name="c" value="0" /> 아니요

                <label for="prg_arg">국내에 사업체 혹은 부동산이 있습니까?:</label> 
                <align=right>
                    <input type="radio" name="d" value="1" /> 예 &nbsp
                    <input type="radio" name="d" value="0" /> 아니요
            
                <label for="prg_arg">국내에 본인의 신원을 확인해 줄 사람이 있습니까?:</label> 
                <align=right>
                    <input type="radio" name="e" value="1" /> 예 &nbsp
                    <input type="radio" name="e" value="0" /> 아니요
                
			</div>
		</form>
		<hr>
		<P align=center>
			<button class="btn btn-success" id="btn2">모두 '예'</button>
			&nbsp;
			<button class="btn btn-success" id="btn1">확인</button>
			&nbsp;
			<button class="btn btn-success" id="btn3">종료</button>
		</P>
</div>

<script>
$( function() {
   	//확인여부 값 셋팅
    $('input:radio[name="a"]:input[value="<%= data.a %>"]').attr("checked", true)
	$('input:radio[name="b"]:input[value="<%= data.b %>"]').attr("checked", true)
	$('input:radio[name="c"]:input[value="<%= data.c %>"]').attr("checked", true)
	$('input:radio[name="d"]:input[value="<%= data.d %>"]').attr("checked", true)
	$('input:radio[name="e"]:input[value="<%= data.e %>"]').attr("checked", true)

	//enter 처리
	$("#prg_arg").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#btn1").click();
		}
	});
	
	//Login
	$("#btn1").off().on( "click", () => {
//		document.forms[0].Action = "/trd_info";
		document.forms[0].submit();
	});

	$("#btn2").off().on( "click", () => {	
		let tmp = $("#btn2").text();
	
		let lists = null;
		if( tmp != "모두 '예'" ){
			$("#btn2").text("모두 '예'");
			lists= $('input:radio[value="0"]');
			for(var i=0; i < lists.length; i++) {
				lists[i].checked = true;
			}			
		}else{
			$("#btn2").text("모두 '아니요'");
			lists= $('input:radio[value="1"]');
			for(var i=0; i < lists.length; i++) {
				lists[i].checked = true;
			}	
		};
	});

	$("#btn3").off().on( "click", () => {
		location.href="/rmnno";
	});

});
</script>
</body>
</html>
