<!DOCTYPE html>
<html lang="en">
<head>
<title>고객정보등록</title>
<% include ../_helpers/html_header %>
</head>
<body>
	<!-- audio player -->
    <audio id="audio" src="/audio/ending.mp3"></audio>
	<div class="container">
		<h2>금융거래 목적확인</h2>
		<p/>	
		<form method="POST" Action="/trd_agr">
			<div class="form-group">

                <hr>
				<img alt="step3" src="/image/step3.PNG" style="width:100%;">
                <hr>

                <label for="rmnno">고객실명번호:</label> 
                <input type="text" class="form-control" id="rmnno" name="rmnno" value="<%= rmnno %>" readonly> <br><br>

                <label for="prg_arg">금융거래목적확인서 징구 여부:</label> 
				<input type="radio" name="a" value="1" /> 예 &nbsp
				<input type="radio" name="a" value="0" /> 아니요</br></br></br>

                <label for="prg_arg">타인으로부터 통장대여 요청을 받은 사실이 있습니까?:</label> 
                <input type="radio" name="b" value="1" /> 예 &nbsp
                <input type="radio" name="b" value="0" /> 아니요</br></br></br>

                <label for="prg_arg">타인으로부터 신용등급상향, 대출 등의 목적으로 통장개설을 요청받은 사실이 있습니까?:</label> 
                <input type="radio" name="c" value="1" /> 예 &nbsp
                <input type="radio" name="c" value="0" /> 아니요</br></br></br>

                <label for="prg_arg">법인의 관계자로부터 일시 고용되거나 고용을 약속받고 계좌개설 등의 사항을 위임받은 사실이 있습니까?:</label> 
                <input type="radio" name="d" value="1" /> 예 &nbsp
                <input type="radio" name="d" value="0" /> 아니요
        
			
			</div>
		</form>
		<hr>
		<P align=center>
			<button class="btn btn-success" id="btn2">모두 '예'</button>
			&nbsp;
			<button class="btn btn-success" id="btn1">확인</button>
			&nbsp;
			<button class="btn btn-success" id="btn3">종료</button>
		</P>
</div>

<script>
$( function() {
   	//확인여부 값 셋팅
	$('input:radio[name="a"]:input[value="<%= data.a %>"]').attr("checked", true)
	$('input:radio[name="b"]:input[value="<%= data.b %>"]').attr("checked", true)
	$('input:radio[name="c"]:input[value="<%= data.c %>"]').attr("checked", true)
	$('input:radio[name="d"]:input[value="<%= data.d %>"]').attr("checked", true)

	//enter 처리
	$("#prg_arg").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#btn1").click();
		}
	});
	
	//Login
	$("#btn1").off().on( "click", () => {
//		document.forms[0].Action = "/trd_agr";
		document.forms[0].submit();
	});

	$("#btn2").off().on( "click", () => {	
		let tmp = $("#btn2").text();
	
		let lists = null;
		if( tmp != "모두 '예'" ){
			$("#btn2").text("모두 '예'");
			lists= $('input:radio[value="0"]');
			for(var i=0; i < lists.length; i++) {
				lists[i].checked = true;
			}			
		}else{
			$("#btn2").text("모두 '아니요'");
			lists= $('input:radio[value="1"]');
			for(var i=0; i < lists.length; i++) {
				lists[i].checked = true;
			}	
		};
	});

	$("#btn3").off().on( "click", () => {
		location.href="/rmnno";
	});
	

});
</script>
</body>
</html>
